<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    .container {
        max-width: 1170px;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ul {
        padding-left: 0px;
        list-style: none;
    }

    .footer {
        background-color: #24262b;
        padding: 60px 0;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
    }

    .footer-col h5 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    .footer-col h5::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        /* background-color: #e91e63; */
        background-color: #ffffff;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 14px;
        /* text-transform: capitalize; */
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #ffffff;
    }

    .img-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        
    }
    .img-footer a {
        display: flex;
        justify-content: center;
    }
    .img-footer img {
        width: 10%;
    }
    /*responsive*/
    @media(max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    @media(max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }
</style>
<footer class="footer">
    <div class="img-footer">
        <a href=""><img src="/images/logo-lulab-back.png" alt=""></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h5>Service & Support</h5>
                <ul>
                    <li><a href="#">nguyenvanhongau1912@gmail.com</a></li>
                    <li><a href="#">+84934888901</a></li>
                    <li><a href="#">Locations</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>Info</h5>
                <ul>
                    <li><a href="#">Consignment Terms</a></li>
                    <li><a href="#">Connect with Us</a></li>
                    <li><a href="#">Delivery and Returns</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h5>follow us</h5>
                <div class="social-links">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>