<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo-lulab.png" type="image/x-icon" />
    <style>
        * {
            font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <div style="margin-top: 108px;">
                <%- body %>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
    </div>


</body>

</html>