<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="nametitle">Cart - LU-LAB</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/cart.css">
</head>

<body>
    <div id="wrapper">
        <div id="container">
            <div class="container-fluid">
                <div id="show-image-full" class="detail-img">
                    <div class="bag-margin">
                        <h3 class="nameProduct" id="nameProduct">Bag</h3>
                    </div>
                    <div id="listCart" class="listCart">
                        
                    </div>
                </div>
                <div class="detail-info">
                    <form method="POST" action="">
                        <div>
                            <div>
                                <h3 class="nameProduct" id="nameProduct">Summary</h3>
                            </div>
                            <div class="dropdownChooseSize">
                                <div>
                                    Subtotal
                                </div>
                                <div id="total-price">
                                    -
                                </div>
                            </div>
                            <div class="dropdownChooseSize">
                                <div>
                                    Estimated Shipping
                                </div>
                                <div id="estimated-ship">
                                    Free
                                </div>
                            </div>
                            <div class="dropdownChooseSize dropdownTotal">
                                <div>
                                    Total
                                </div>
                                <div id="total-pay">
                                    -
                                </div>
                            </div>
                            <div id="show-size-detail" class="mt2-sm css-1j3x2vp">

                            </div>
                            <div>
                                <button class="add-card">
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </form>
                    <div id="detail__desc--intro" class="detail__desc--intro">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="/javascripts/cart.js"></script>