<head>
    <title>LU-LAB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div id="wrapper">
        <div id="container">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/carousel/650422b5af932.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carousel/650428b8ad53b.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div>
                <h2 class="text-center title__type">
                    FOOTWEAR
                </h2>
            </div>
            <div class="container-fluid">
                <div id="list-footwear" class="row products">
                </div>
            </div>
            <div class="text-center">
                <a href="product/footwear" class="btn-see-more text-uper">see more</a>
            </div>
            <a href="">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/carousel/65192ecfa9053.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/carousel/6448f45698c3e.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </a>
            <div>
                <h2 class="text-center title__type">
                    APPAREL
                </h2>
            </div>
            <div class="container-fluid">
                <div id="list-apparel" class="row products">
                    <!-- <div class="col-lg-4 col-md-6">
                        <div class="product__item">
                            <div class="product__item--pic">
                                <a href="">
                                    <div class="product__img">
                                        <img src="/images/product/5f916f8113fdb.jpg"
                                            alt="">
                                    </div>
                                </a>
                                <div class="product__item--infor">
                                    <div class="clearfix">
                                        <p class="product-name text-uper">
                                            <a href="">Name</a>
                                        </p>

                                        <p class="product-price">
                                            <span class="${priceDecorationClass}"
                                                style="padding-right: 10px">Price</span>
                                            <span>Price Sale</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="text-center">
                <a href="product/apparel" class="btn-see-more text-uper">see more</a>
            </div>
        </div>
    </div>
</body>

<script src="javascripts/index.js"></script>